.datagrid-container {
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.datagrid-header-col {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.datagrid-content-col {
    padding: 0 !important;
    margin: 0 !important;
    border-left: 1px solid black;
}

.datagrid-content-inner-col {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid black;
}

.datagrid-cell-value {
    padding-left: 5px;
    padding-right: 5px;
}

.datagrid-header-col-first, .datagrid-content-col-first {
    border-left: none;
}

.datagrid-header-inner-container {
    padding: 0;
    margin: 0;
    border: none;
}

.datagrid-content-container {
    overflow-y: auto;
}

.datagrid-content-row {
    transition: background-color 0.5s;
}

.datagrid-content-row-last {
    border-bottom: none;
}

.datagrid-click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.datagrid-row-selected {
    background-color: blue;
}

.datagrid-col-selected {
    background-color: blue;
}

.datagrid-col-custom-5 {
    width: 20%;
}

.datagrid-col-custom-7 {
    width: 14.28%;
}

.datagrid-col-custom-8 {
    width: 12.5%;
}

.datagrid-col-custom-9 {
    width: 11.11%;
}

.datagrid-col-custom-10 {
    width: 10%;
}

.datagrid-col-custom-11 {
    width: 9.09%;
}