.datagrid-container {
    padding-bottom: 10px;
    text-align: center;
}

.datagrid-header-col {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.datagrid-content-col {
    border-left: 1px solid #fafafa;
}

.datagrid-content-inner-col {
    border-bottom: 1px solid #fafafa;
}

.datagrid-cell-value {
    padding-left: 5px;
    padding-right: 5px;
}

.datagrid-header-col-first, .datagrid-content-col-first {
    border-left: none;
}

.datagrid-content-container {
    overflow-y: auto;
}

.datagrid-content-row {
    transition: background-color 0.5s;
}

.datagrid-content-row-last {
    border-bottom: none;
}

.datagrid-click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.datagrid-row-selected {
    background-color: rgb(236,76,76);
}