#playerInfoContainer {
    padding: 20px;
}

#player1Info {
    text-align: left;
}

#player2Info {
    text-align: right;
}

#gBoardHeaderContainer {
    border: none;
    display: none;
}

#gBoardContentContainer {
    border: 1px solid #fafafa;
    overflow-y: initial;
}

#gBoardContentRow, #gBoardContentRow .datagrid-content-col, #gBoardContentRow .datagrid-content-row, #gBoardContentRow .datagrid-content-inner-col {
    border: none;
}

#gBoardContentRow .datagrid-content-inner-col {
    padding: 1px !important;
}

#gBoardContentRow .datagrid-col-selected {
    background-color: initial;
}

#gBoardContentRow .datagrid-cell-value {
    transition: background-color 0.5s;
    border: 1px solid #fafafa;
    border-radius: 50%;
    padding: 0;
    min-width: 45px;
    min-height: 45px;
    width: 100%;
    padding-top: calc(100% - 2px);
}

.gbP1 {
    background-color: rgb(236,76,76);
}

.gbP2 {
    background-color: blue;
}

@keyframes highlightP1 {
    0% {background-color: rgb(236,76,76);}
    50% {background-color: yellow;}
    100% {background-color: rgb(236,76,76);}
}

@keyframes highlightP2 {
    0% {background-color: blue;}
    50% {background-color: yellow;}
    100% {background-color: blue;}
}

.highlightP1 {
    animation-name: highlightP1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.highlightP2 {
    animation-name: highlightP2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.winner-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    z-index: 800;

    background-color: rgb(45,45,45);
}