/* Player Info Container */
#playerInfoContainer {
    padding: 10px 0;
    background-color: var(--feedbackBackground);
}

#playerInfoContainer h3 {
    font-size: 1.18rem;
}

#player1Info {
    padding: 0;
    text-align: left;
}

#player2Info {
    padding: 0;
    text-align: right;
}

/* gBoard dataGridDisplay Elements */
#gBoard {
    padding-bottom: 0; /* Remove default padding-bottom from datagrid-container */
}

/* Remove the border from the Header Container, and do not display it */
#gBoardHeaderContainer {
    border: none;
    display: none;
}

/* Add a border to the Content Container, and disable overflow-y */
#gBoardContentContainer {
    border: 1px solid var(--gameBorder);
    overflow-y: initial;
}

/* Remove most borders */
#gBoardContentRow, #gBoardContentRow .datagrid-content-col, #gBoardContentRow .datagrid-content-row, #gBoardContentRow .datagrid-content-inner-col {
    border: none;
}

/* Force 1px padding around the content inner column */
#gBoardContentRow .datagrid-content-inner-col {
    padding: 1px !important;
}

/* Prevent a background color being added to a row on click */
#gBoardContentRow .datagrid-col-selected {
    background-color: initial !important;
}

/* Add Styling to the gBoardContentRow cell value elements. */ 
#gBoardContentRow .datagrid-cell-value {
    transition: background-color 0.5s;
    border: 1px solid var(--gameBorder);
    border-radius: 50%; /* Round Borders mimic the slots on a real Connect 4 game board. */
    padding: 0;
    min-width: 45px; /* equal min-width and min-height ensure the elements are square */
    min-height: 45px;
    width: 100%;
    padding-top: calc(100% - 2px);
}

/* Player Token Background Colours */
.gbP1 {
    background-color: var(--p1TokenColor);
}

.gbP2 {
    background-color: var(--p2TokenColor);
}

/* Winning Pattern Highlight Keyframes and Classes */
@keyframes highlightP1 {
    0% {background-color: var(--p1TokenColor);}
    50% {background-color: var(--pulseBackground);}
    100% {background-color: var(--p1TokenColor);}
}

@keyframes highlightP2 {
    0% {background-color: var(--p2TokenColor);}
    50% {background-color: var(--pulseBackground);}
    100% {background-color: var(--p2TokenColor);}
}

.highlightP1 {
    animation-name: highlightP1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.highlightP2 {
    animation-name: highlightP2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Feedback Elements */
.feedback-container {
    width: 100%;
    min-height: 87px;
    padding: 5px 0;
    background-color: var(--feedbackBackground);
}

.feedback-message {
    padding-bottom: 5px;
}

.feedback-message h2 {
    margin: 0;
}