#playerInfoContainer {
    padding: 20px;
}

#playerInfoContainer h3 {
    font-size: 1.18rem;
}

#player1Info {
    padding: 0;
    text-align: left;
}

#player2Info {
    padding: 0;
    text-align: right;
}

#gBoard {
    padding-bottom: 0;
}

#gBoardHeaderContainer {
    border: none;
    display: none;
}

#gBoardContentContainer {
    border: 1px solid var(--gameBorder);
    overflow-y: initial;
}

#gBoardContentRow, #gBoardContentRow .datagrid-content-col, #gBoardContentRow .datagrid-content-row, #gBoardContentRow .datagrid-content-inner-col {
    border: none;
}

#gBoardContentRow .datagrid-content-inner-col {
    padding: 1px !important;
}

#gBoardContentRow .datagrid-col-selected {
    background-color: initial !important;
}

#gBoardContentRow .datagrid-cell-value {
    transition: background-color 0.5s;
    border: 1px solid var(--gameBorder);
    border-radius: 50%;
    padding: 0;
    min-width: 45px;
    min-height: 45px;
    width: 100%;
    padding-top: calc(100% - 2px);
}

.gbP1 {
    background-color: var(--p1TokenColor);
}

.gbP2 {
    background-color: var(--p2TokenColor);
}

@keyframes highlightP1 {
    0% {background-color: var(--p1TokenColor);}
    50% {background-color: var(--pulseBackground);}
    100% {background-color: var(--p1TokenColor);}
}

@keyframes highlightP2 {
    0% {background-color: var(--p2TokenColor);}
    50% {background-color: var(--pulseBackground);}
    100% {background-color: var(--p2TokenColor);}
}

.highlightP1 {
    animation-name: highlightP1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.highlightP2 {
    animation-name: highlightP2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#playerInfoContainer {
    padding: 10px 0;
}

.feedback-container {
    width: 100%;
    min-height: 76px;
    padding: 5px 0;
    background-color: var(--feedbackBackground);
}

.feedback-message {
    padding-bottom: 5px;
}

.feedback-message h2 {
    margin: 0;
}