/* Main Block Container */
#mainBlockContainer {
    display: flex;    
    justify-content: center;
    padding-top: 10px;
    height: 20%;
    min-height: 220px;
}

/* Menu Block and Content */
#menuBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#menuContent {
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;    
}

#menuContentContainer {
    width: 75%;
    max-width: 360px;
}

#menuContent h3 {
    font-size: 1rem;
}

/* Main/Menu Content and Titles */
.main-content, .menu-content {
    background-color: var(--mainBackground);
    border: solid 1px var(--mainBorder);
    border-radius: .9rem;
    padding: 10px;
}

.mainTitle, .menuTitle {
    margin: 0;
    padding-bottom: 10px;
}

/* Rules and Game Board */
#rulesContainer, #gameBoardContainer {
    width: calc(100% - 20px);
    max-width: 720px;
}

#rulesContainer {
    text-align: left;    
}

#rulesMainContent {
    overflow-y: auto;
    border: 1px solid var(--mainBorder);
    border-radius: .9rem .9rem 0 0;
    border-bottom: none;
}

#rulesContainer .control-buttons {
    padding: 10px;
    border: 1px solid var(--mainBorder);
    border-radius: 0 0 .9rem .9rem;
    border-top: none;
}

/* Labels */
label {
    font-size: .9rem;    
}

/* C4 Control Classes */
.c4-control-margin-bottom {
    margin-bottom: 5px;
}

.c4-control-margin-top {
    margin-top: 5px;
}

.c4-control-margin-left {
    margin-left: 5px;
}

.c4-control-margin-right {
    margin-right: 5px;
}

.c4-control-full-width {
    width: 100%;
}

.c4-control {
    padding: .3rem .5rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .45rem;
    min-height: 33.2px;
    min-width: 46px;
    border-width: 1px;
    border-style: solid;
    transition: 0.5s;
    color: var(--togglerIconBackground);
    border-color: var(--darkToggler);
    background-color: var(--mainBackground);
}

.c4-control:hover {
    border-color: var(--togglerHoverBorder);
}

/* C4 Button Classes */

/* Copied from bootstrap btn-lg and tweaked */
.c4-button-large {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .9rem;
}

.c4-button:hover, .c4-button-large:hover {
    color: var(--togglerHoverIcon);
}

/* C4 Control Container Classes */
.control-container {
    text-align: left;
}

.control-buttons .lcol {
    padding-right: 5px;
}

.control-buttons .rcol {
    padding-left: 5px;
}

/* Datagrid Default Color Overrides */
.datagrid-header-col {
    border-left-color: var(--dataGridBorder);
    border-bottom-color: var(--dataGridBorder);    
}

.datagrid-content-col {
    border-left-color: var(--dataGridBorder);
}

.datagrid-content-inner-col {
    border-bottom-color: var(--dataGridBorder);
}

.datagrid-row-selected {
    background-color: var(--dataGridRowSelected);
}

.datagrid-col-selected {
    background-color: var(--dataGridColSelected);
}