body {
    font-size: .75em;
}

#mainBlockContainer {
    display: flex;    
    justify-content: center;
    padding-top: 10px;
    height: 20%;
    min-height: 220px;
}

#mainBlock img {
    object-fit: cover;
    overflow: hidden;
}

#menuBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#menuContent {
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;    
}

#menuContentContainer {
    width: 75%;
}

#menuContent h3 {
    font-size: 1rem;
}

#rulesContainer, #leaderboardContainer, #gameBoardContainer {
    width: calc(100% - 20px);
}

/*
#lBoard {
    padding-bottom: 0;
}
*/

.main-content, .menu-content {
    background-color: var(--mainBackground);
    border: solid 1px var(--mainBorder);
    padding: 10px;
}

.mainTitle, .menuTitle {
    margin: 0;
    padding-bottom: 10px;
}

.c4-button-margin-bottom {
    margin-bottom: 5px;
}

.c4-button-margin-top {
    margin-top: 5px;
}

.c4-button-margin-left {
    margin-left: 5px;
}

.c4-button-margin-right {
    margin-right: 5px;
}

.c4-button-full-width {
    width: 100%;
}

.c4-button {
    padding: .3rem .5rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .45rem;
    min-height: 33.2px;
    min-width: 46px;
    border-width: 1px;
    border-style: solid;
    transition: 0.5s;
    color: var(--togglerIconBackground);
    border-color: var(--darkToggler);
    background-color: var(--mainBackground);
}

/* Copied from dropbox btn-lg and tweaked */
.c4-button-large {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .9rem;
}

.c4-button:hover {
    border-color: var(--togglerHoverBorder);
    color: var(--togglerHoverIcon);
}

label {
    font-size: .9rem;    
}

.control-container {
    text-align: left;
}

.control-buttons {
    text-align: right;
}

.refresh-button {
    text-align: left;
}