/* CSS Light Mode Vars */
:root {

    /* navBar */
    --darkToggler: rgba(38,38,38,.4);
    --togglerHoverBorder: rgba(236,76,76,.4);
    --togglerBackground: #EC4C4C;
    --togglerHoverIcon: #EC4C4C;
    --togglerIconMaskURL: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2838, 38, 38, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --togglerIconBackground: #262626;

    /* sideNav */
    --sideNavDocOverlayBackground: rgba(0, 0, 0, 0);
    /*--sideNavBackground: rgba(250,250,250,.95);*/
    --sideNavBackground: rgba(235,235,235,.95);
    --sideNavDivider: #262626;
    --sideNavLink: #262626;
    --sideNavLinkHover: #EC4C4C;

    /* Datagrid */
    /*--dataGridBorder: #262626;*/
    --dataGridBorder: #242423;
    --dataGridRowSelected: #EC4C4C;
    --dataGridColSelected: #EC4C4C;

    /* Game */
    --gameBorder: #262626;
    --p1TokenColor: #EC4C4C;
    /*--p1AltTokenColor: #0000FF;*/
    /*--p2TokenColor: #0000FF;*/
    --p2TokenColor: #4B4BEC;
    /*--p1AltTokenColor: #EC4C4C;*/
    /*--feedbackBackground: #fafafa;*/
    --feedbackBackground: #EbEbEb;
    --feedbackText: #262626;
    --pulseBackground: #fafafa;

    /* Main */
    --mainText: #262626;
    --mainBorder: #262626;
    /*--mainBackground: #d9d9d9;
    --mainAltBackground: #d9d9d9;*/
    --mainBackground: #eaeae8;
    --mainAltBackground: #eaeae8;
    --headerDivider: #8C8C8C;
    --footerDivider: #8C8C8C;
    --socialMediaLink: #262626;
    --socialMediaLinkHover: #EC4C4C;
}

/* Datagrid */
.datagrid-header-col {
    border-left-color: var(--dataGridBorder);
    border-bottom-color: var(--dataGridBorder);    
}

.datagrid-content-col {
    border-left-color: var(--dataGridBorder);
}

.datagrid-content-inner-col {
    border-bottom-color: var(--dataGridBorder);
}

.datagrid-row-selected {
    background-color: var(--dataGridRowSelected);
}

.datagrid-col-selected {
    background-color: var(--dataGridColSelected);
}