/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* CSS Light Mode Vars */
:root {

    /* navBar */
    --darkToggler: rgba(38,38,38,.4);
    --togglerHoverBorder: rgba(75, 75, 236,.8);
    --togglerHoverIcon: #4B4BEC;
    --togglerIconMaskURL: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2838, 38, 38, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --togglerIconBackground: #262626;

    /* sideNav */
    --sideNavDocOverlayBackground: rgba(0, 0, 0, 0);
    --sideNavBackground: rgba(235,235,235,.95);
    --sideNavDivider: #262626;
    --sideNavLink: #262626;
    --sideNavLinkHover: #4B4BEC;

    /* Datagrid */
    --dataGridBorder: #262626;
    --dataGridRowSelected: #4B4BEC;
    --dataGridColSelected: #4B4BEC;

    /* Game */
    --gameBorder: #262626;
    --p1TokenColor: #EC4C4C;
    --p2TokenColor: #4B4BEC;
    --inactivePlayer: #8C8C8C;
    --feedbackBackground: #EbEbEb;
    --feedbackText: #262626;
    --pulseBackground: #fafafa;

    /* Main */
    --mainText: #262626;
    --mainBorder: #262626;    
    --mainBackground: #f7f9fa;
    --headerDivider: #8C8C8C;
    --footerDivider: #8C8C8C;
    --socialMediaLink: #262626;
    --socialMediaLinkHover: #4B4BEC;

    /* Logo Text */
    --logoText: #fafafa;
    
    /* Alert */
    --alertText: #630A0A;
    --alertBorder: #262626;
    --alertBackground: #f7f9fa;
    --alertShadow: rgba(26, 26, 26, 0.5);
}

/* Add Drop Shadow to Alert in Light Mode */
.alert-container {
    -webkit-box-shadow: 4px 6px 4px 6px var(--alertShadow);
            box-shadow: 4px 6px 4px 6px var(--alertShadow);
}