#imgContainer {
    width: calc(100% - 20px);
    max-width: 360px;
}

#logoGrid {
    padding-bottom: 0;
}

#logoGridHeaderContainer, #logoGridHeaderRow, #logoGridHeaderRow .col {
    border: none;
}

#logoGridContentContainer {
    border: none;
    overflow-y: initial;
}

#logoGridContentRow .datagrid-content-col, #logoGridContentRow .datagrid-content-row, #logoGridContentRow .datagrid-content-inner-col {
    border: none;
}

#logoGridContentRow {
    border: 1px solid var(--gameBorder);
}

#logoGridContentRow .datagrid-content-inner-col {
    padding: 1px !important;
}

#logoGridContentRow .datagrid-col-selected {
    background-color: initial !important;
}

#logoGridContentRow .datagrid-cell-value {
    transition: background-color 0.5s;
    border: 1px solid var(--gameBorder);
    border-radius: 50%;
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    width: 100%;
    padding-top: calc(100% - 2px);
}

#logoGridCcol-2 {
    width: 100px !important;
}

.datagrid-header-col h3 {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: none;
}

#logoGridContentRow {
    margin-top: 42px;
}