/* Logo Container */
#logoContainer {
    width: calc(100% - 20px);
    min-width: 360px;
    max-width: 1024px;
}

/* Static Logo img Element */
#staticLogo {
    object-fit: cover;
    overflow: hidden;
}

/* logoGrid dataGridDisplay Elements */
#logoGrid {
    padding-bottom: 0; /* Remove default padding-bottom from datagrid-container */
}

/* Remove the borders from the Header Container and child elements */
#logoGridHeaderContainer, #logoGridHeaderRow, #logoGridHeaderRow .datagrid-header-col, #smLogoGridHeaderContainer, #smLogoGridHeaderRow, #smLogoGridHeaderRow .datagrid-header-col {
    border: none;
}

/* Specify a header col min-width and min-height to match that of the logoGrid content cells */
#logoGridHeaderRow .datagrid.header-col {
    min-width: 40px;
    min-height: 40px;
}

/* Make the header inner container position absolute, center the content, set min sizes and ensure the z-index is higher than the content cells */
#logoGridHeaderRow .datagrid-header-col .datagrid-header-inner-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 40px;
    min-height: 40px;
    background: none;
    z-index: 2;
}

/* Remove bottom margins and letter spacing from logoGrid header row h3 elements */
#logoGridHeaderRow .datagrid-header-col h3, #smLogoGridHeaderRow .datagrid-header-col h3 {
    margin-bottom: 0;
    letter-spacing: 0;
}

/* Remove borders and overflow-y from the content container */
#logoGridContentContainer, #smLogoGridContentContainer {
    border: none;
    overflow-y: initial;
}

/* Remove borders from the content columns, content rows and content inner columns */
#logoGridContentRow .datagrid-content-col, #logoGridContentRow .datagrid-content-row, #logoGridContentRow .datagrid-content-inner-col {
    border: none;
}

/* Force 1px padding around the content inner column */
#logoGridContentRow .datagrid-content-inner-col, #smLogoGridContentRow .datagrid-content-inner-col {
    padding: 1px !important;
}

/* Add styling to the logoGrid cell value elements. */
#logoGridContentRow .datagrid-cell-value {
    transition: background-color 0.5s;
    border: 1px solid var(--gameBorder);
    border-radius: 50%; /* Round Borders mimic the slots on a real Connect 4 game board. */
    padding: 0;
    min-width: 40px; /* equal min-width and min-height ensure the elements are square */
    min-height: 40px;
    width: 100%;
    padding-top: calc(100% - 2px);
}


/* Small Navbar Logo Elements */
#smLogoContainer {
    width: 61px;
    height: 30px;
    margin: 12.5px 0 12.5px;
    padding: 0;
}

#smLogoURL {    
    position: absolute;
    width: 61px;
    height: 30px;
    z-index: 2;
}

#smLogoGrid {    
    height: 30px;
    padding-bottom: 0;
}

#smLogoGridContentContainer {
    display: none;
}

#smLogoGridHeaderRow .datagrid-header-col {
    width: 30px;
    height: 30px;
    padding: 0;
}

#smLogoGridHeaderRow .datagrid-header-col .datagrid-header-inner-container {    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;    
    padding: 0;
    border: 1px solid var(--gameBorder);
    border-radius: 50%;
}

#smLogoGridHeaderRow .datagrid-header-col .datagrid-header-inner-container h3 {    
    line-height: 28px;
    margin-bottom: 0;
    font-size: 1.25rem;
}

#smLogoGridHeaderRow .datagrid-header-col-first .datagrid-header-inner-container {
    margin-right: 1px;
    background-color: var(--p1TokenColor);
}

#smLogoGridHeaderRow .datagrid-header-col-last .datagrid-header-inner-container {
    background-color: var(--p2TokenColor);
}