/*
* SideNav taken from W3 Schools Example and modified
* https://www.w3schools.com/howto/howto_js_sidenav.asp
*/
 
 /* The side navigation menu */
.sidenav, .sidenav-doc-overlay {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: left 0.5s, background-color 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* sideNav overlay.  Displayed over content when the sideNav is open */
.sidenav-doc-overlay {
    width: 100%;   
    z-index: -1000;
    background-color: rgba(0, 0, 0, 0);
}

/* primary sideNav class */
.sidenav {
  min-width: 310px; /* 0 width - change this with JavaScript */
  width: 33%;
  z-index: 1000; /* Stay on top */
  background-color: var(--sideNavBackground); /* Black*/
  left: -133%;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /*font-size: 1em;*/
  font-size: 1.25rem;
  color: var(--sideNavLink);
  display: block;
  transition: 0.3s;
}

.sidenav .underheader {
    padding-left: 80px;
}

.sidenav h5 {
    padding: 8px 8px 8px 32px;
}

.sidenav-divider {
    margin: 0 33px 0 32px;
    border-top: solid 1px var(--sideNavDivider);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--sideNavLinkHover);
  transition: 0.5s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}