/*.................................................................................................................................................
Colour Palette:
#fafafa; Text Colour
#26,26,26; Background Colour
#45,45,45; Nav Dropdown/Menu Note/Tooltip Background

#17a2b8; Bootstrap .btn-info Background Colour/Border Colour, .btn-outline-info Border Colour
#6c757d; Bootstrap .btn-secondary Background Colour/Border Colour

Heading Fonts:
font-family: 'Roboto Slab', serif;

Content Fonts:
font-family: 'Roboto Mono', monospace;
.................................................................................................................................................*/

/*.................................................................................................................................................
The Flex based 'Sticky Footer' method Utilised in this CSS is modified from https://css-tricks.com/couple-takes-sticky-footer/ 
                                                                        and https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

Original CSS-Tricks Example Below:

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}


Original PhilipWalton Example Below:

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.................................................................................................................................................*/

/*..........Bootstrap Stylesheet*/
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
/*........../.bootstrap stylesheet*/


/*..........Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*........../.google fonts*/


/*..........Set Page Defaults*/

html, body {
    height: 100%;
}

body {
    display: flex;
    min-width: 360px;
    min-height: 760px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--mainBackground);
    color: var(--mainText);
}

main {
    flex: 1 0 auto;    
}

div, hr, .row, nav {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

a {
    color: var(--mainText);
}

a:hover, .header-nav-link-text:hover {
    color: var(--mainText);
    text-decoration: underline;
}

.navbar-toggler {
    border-radius: 15px;
}
/*........../.set page defaults*/


/*..........Header*/
.header-nav {
    position: relative;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    padding: 5px 5px;
    align-items: flex-start;
}

.header-divider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
}

.header-divider hr {
    border-top: solid 1px var(--headerDivider);
}

.logo {
    height: 40px;
}

.navbar-toggler {
    height: 50px;
}

.navbar-dark .navbar-toggler {
    border-color: var(--darkToggler);
    transition: 0.5s;
}

.navbar-toggler:hover {
    border-color: var(--togglerHoverBorder);
}

.navbar-toggler:hover .navbar-toggler-icon {
    background: var(--togglerHoverIcon);
}

.navbar-toggler-icon {
    mask: var(--togglerIconMaskURL);
    background: var(--togglerIconBackground);
    transition: 0.5s;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("");
}
/*........../.header*/


/*..........Footer*/
footer {
    flex-shrink: 0;
    height: 50px;
}

.footer-container {
    margin-bottom: 10px;
    padding: 0 5px;
}

.footer-divider {
    margin-bottom: 10px;
    width: 100%;
}

.footer-row {
    width: 100%;
}

.footer-divider hr {
    border-top: solid 1px var(--footerDivider);
}

.social-media-row .col-auto i {
    font-weight: 500;
    font-size: 1.4em;
}

.social-media-row .col-auto i:hover {
    color: var(--socialMediaLinkHover);
    transition: 0.5s;
}

.footer-logo-container {
    text-align: right;
}

.footer-logo-container a {
    padding: 5px 0;
}
/*........../.footer*/