/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*.................................................................................................................................................
The Flex based 'Sticky Footer' method Utilised in this CSS is modified from https://css-tricks.com/couple-takes-sticky-footer/ 
                                                                        and https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

Original CSS-Tricks Example Below:

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}


Original PhilipWalton Example Below:

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.................................................................................................................................................*/

/*..........Bootstrap Stylesheet*/
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
/*........../.bootstrap stylesheet*/

/*..........Set Page Defaults*/

html, body {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 280px;
    min-height: 568px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--mainBackground);
    color: var(--mainText);
    font-size: .9em;
    font-family: serif;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;    
}

div, hr, .row, nav {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

a {
    color: var(--mainText);
}

a:hover, .header-nav-link-text:hover {
    color: var(--mainText);
    text-decoration: underline;
}

.navbar-toggler {
    border-radius: .9rem;
}
/*........../.set page defaults*/


/*..........Header*/
.header-nav {
    position: relative;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    padding: 5px 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.header-divider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
}

.header-divider hr {
    border-top: solid 1px var(--headerDivider);
}

.logo {
    height: 40px;
}

.navbar-toggler {
    height: 50px;
}

.navbar-dark .navbar-toggler {
    border-color: var(--darkToggler);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar-toggler:hover {
    border-color: var(--togglerHoverBorder);
}

.navbar-toggler:hover .navbar-toggler-icon {
    background: var(--togglerHoverIcon);
}

.navbar-toggler-icon {
    -webkit-mask: var(--togglerIconMaskURL);
    mask: var(--togglerIconMaskURL);
    background: var(--togglerIconBackground);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("");
}
/*........../.header*/


/*..........Footer*/
footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 50px;
}

.footer-container {
    margin-bottom: 10px;
    padding: 0 10px;
}

.footer-divider {
    margin-bottom: 10px;
    width: 100%;
}

.footer-row {
    width: 100%;
}

.footer-divider hr {
    border-top: solid 1px var(--footerDivider);
}

.social-media-row .col-auto i {
    font-weight: 500;
    font-size: 1.4em;
}

.social-media-row .col-auto i:hover {
    color: var(--socialMediaLinkHover);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.footer-logo-container {
    text-align: right;
}

.footer-logo-container a {
    padding: 5px 0;
}
/*........../.footer*/

/*..........Alert*/
.alert-container {
    position: absolute;
    padding: 5px;
    z-index: 10;
    border: 1px solid var(--alertBorder);
    border-radius: .9rem;
    background-color: var(--alertBackground);
    color: var(--alertText);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    max-height: 134px;   
}

.alert-container a {
    color: var(--alertText);
    text-decoration: none;
    margin-right: 5px;
    text-shadow: none;
}

.alert-container a:hover {
    text-decoration: none;
    color: var(--alertText);
    text-shadow: none;
}
/*........../.alert*/